<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/dist/LogoBrowser.svg" />
    <!-- Dynamic meta tags -->
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="{{ title }}" />
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Taxspoc">
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ image }}" />   
	
	<!-- Include CSS from the Vite build output -->
    <link rel="stylesheet" href="/dist/assets/index-DcI7hpH5.css"> -->
  </head>
  <body>
    <div id="root"></div>
    <!-- React will still boot here -->
	<script type="module" src="/dist/assets/index-sCtUu1Uq.js"></script> -->
  </body>
</html>